---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <div id="main" class="flex h-screen flex-col justify-center p-4">
    <h2 class="mx-auto text-2xl p-5 font-semibold">
      Telegram bot for searching animes, manga, and light novels using the Anilist API.
    </h2>
    <p class="mx-auto text-lg">
      <a
        target="_blank"
        href="https://t.me/YonorochiBot"
        class="mx-2 text-gray-500 no-underline hover:text-gray-400">Telegram</a
      >&#8226;
      <a
        target="_blank"
        href="https://github.com/AmanoTeam/yamata-no-orochi"
        class="mx-2 text-gray-500 no-underline hover:text-gray-400"
        >Source Code</a
      >
    </p>
  </div>
</MainLayout>
