---
import "@fontsource-variable/inter";

import "../styles/global.css";
---

<html lang="en">
  <head>
    <title>Yamata no Orochi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body class="overflow-clip bg-[var(--base-color)] font-bold text-[var(--color-primary)]">
    <slot />
  </body>
</html>
